.navbardi{
    background: #212121 !important ;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbardi.active{
    background-color: #fff !important;

}




.light-image{
    width: 100%;
    height: 60px;
    padding-left: 30px;
}
.dark-image{
    width: 100%;
    height: 60px;
    padding-left: 30px;

}

.asecond{
    
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 0.9rem;
        padding: 0 20px;
    
}