.swiper {
    width: 100%;
    height: 100vh;
  }
  
.swiper-slide {
    background-position: center;
    background-size: cover;
}
  
.swiper-slide img {
    display: block;
    width: 100%;
}

.h1style{
    z-index: 3;
    font-size: 50px;
    color: aliceblue;
}

.swipper1{
    background-image: url('https://res.cloudinary.com/ds7i6phph/image/upload/v1677944993/WhatsApp_Image_2023-03-01_at_01.01.41_1_rrjdo3.jpg');
    animation-name: zoom-effect;
    animation-duration: .5;
    animation-timing-function: ease-in;
    height: 100vh;
}

.swipper2{
    background-image: url('https://res.cloudinary.com/ds7i6phph/image/upload/v1677944994/WhatsApp_Image_2023-03-01_at_01.01.41_stejcf.jpg');
    animation-name: zoom-effect;
    animation-duration: .5;
    animation-timing-function: ease-in;
}

.swipper3{
    background-image: url('https://res.cloudinary.com/ds7i6phph/image/upload/v1677944993/WhatsApp_Image_2023-03-01_at_01.01.41_2_fjgv4n.jpg');
    animation-name: zoom-effect;
    animation-duration: .5;
    animation-timing-function: ease-in;
}

.swipper4{
    background-image: url('https://res.cloudinary.com/ds7i6phph/image/upload/v1677944994/WhatsApp_Image_2023-03-01_at_01.01.41_3_i0pqbz.jpg');
    animation-name: zoom-effect ;
    animation-duration: .5;
    animation-timing-function: ease-in;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slider .slide {
    width: 100%;
    height: 100%;

}

.slider-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
    padding: 0 20px;
}

.slider-caption h1 {
    font-size: 85px;
    line-height: 72px;
    font-weight: 700;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    padding-bottom: 20px;
}

.slider-caption p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.slider-image {
    width: 20%;
    padding-bottom: 1.2rem;
}

.btn-custom {
    padding: 16px 44px;
    color: #000;
    font-weight: 400;
    border: none;
    transition: all .2s ease;
}

.btn-custom:hover {
    color: #fff;
    background-color: #2d76b2 !important;
    z-index: 999 !important;
}

.swiper-button-next {
    color: #fff;
    transition: all .2s ease;
}

.swiper-button-prev {
    color: #fff;
    transition: all .2s ease;
}

.swiper-button-next:hover {
    transform: translateX(5px);
}

.swiper-button-prev:hover {
    transform: translateX(-5px);
}



@keyframes zoom-effect {
    from {
        background-size: 100%;
    }

    to {
        background-size: 150%;
    }
}

.parallaxele{
    background-position: center !important;
    background-size: cover !important;
    background-attachment: fixed !important;
}

.zindex{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}