.form-email {
    width: 400px !important;
    border-radius: 100px;
    padding: 11px;
    border: 2px solid #e1e1e1;
}

.form-email:focus {
    outline: none;
    border-color: #2d76b2;
    box-shadow: 0px 0px 5px #2d76b2;
}


.page-note {
    color: #fff;
    font-size: 19px;
    font-weight: 600;
}

.page-form {
    padding-top: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 4rem;
}

.form-btn {
    height: 100%;
    padding: 12px;
}

.form-email:focus {
    color: #000;
}

.form-email::placeholder {
    color: #6b6b6baa;
}

/* CSS */
.button-19 {
    background-color: #1899D6;
    border-radius: 10px;
    border: solid transparent;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round, sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 8px 50px;
    text-align: center;
    text-transform: uppercase;

}