nav{
    font-size: 12px;
    background-color: rgba(33, 33, 33, 1) !important;
}

.navi{
    display: flex;
    justify-content: space-between;
}

.arala{

    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    color: #fff !important;
    font-size: 12px;
}

@media (max-width : 992px){
    .navi{
        display: none;
    }
}