.kart-content{
    border: 1px solid #e1e1e1;
    padding: 20px;
}

.social-icons-linkedin a{
    font-size: 19px;
    color: #434343 !important;
    
}
.social-icons-linkedin a:hover{
    transition: all .4s ease-in;
    color: #04669A !important;
}

.social-icons-facebook a{
    font-size: 17px;
    color: #434343 !important;
}

.social-icons-facebook a:hover{
    color: #3B5998 !important;
    transition: all .4s ease-in;
}

.social-icons-insta a{
    font-size: 19px;
    color: #434343 !important;
}

.social-icons-insta a:hover{
    color: #2C6A93 !important;
    transition: all .4s ease-in;
}

                            
.aboutme-h3{
    font-weight: 700;
    color: #434343;
    font-family: 'Montserrat', sans-serif;

}

.aboutme-p{
    font-size: 14px
}



.biography{
    font-weight: 700;
    color: #434343;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.bio-p{
    width: 100% !important;
}

.verizon{
    color: #04669A;
}

.tap-aboutme-p{
    font-size: 15px;
    color: #212121;
}

.wi .wid  .kart p{
    width: 100%  !important;
}

@media(max-width:1040px) and (min-width:200px) {

    .kart-content{
        font-size: 10px
    }

    .right-title{
        padding-left: 25px;
        padding-right: 50px;
    }
}

